extends layout

block content

    h1 #{title}
    h5=article.title
    h5 Written by #{author}
    h5=article.content
    hr
    if user
      if article.author == user.id
        a.btn.btn-default(href='/articles/edit/'+article._id) Edit
        a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete
        
