extends layout

block content

    
  h1 #{title}
  != messages()
  ul.list-group
  each recipe, i in recipes
    li.list-group-item
      a(href="/recipes/"+recipe._id)=recipe.title
      p.ingerdinets=recipe.ingredients 
      if recipe.user
        p=recipe.user.name
        if user
          if  user.avatar 
            img.avatar#IdName(src="users/avatar/"+recipe.user.avatar.get('filename') title=recipe.user.name alt="Image Title" height="73" width="73")
        
        
